@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: 255, 255, 255;
    --secondary-color: 0, 0, 0;
  }
}

body {
  color: var(--primary-color);
  background: var(--secondary-color);
}
